<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TIBCO.EMS.ADMIN"
                          publicKeyToken="5b83db8ff05c64ba"/>
        <bindingRedirect oldVersion="1.0.0.0-1.0.610.6"
                         newVersion="1.0.610.6"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>